{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/stage-1",
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "styled-components",
    "graphql-tag",
    ["@babel/plugin-transform-runtime", {
    "helpers": false,
    "polyfill": false,
    "regenerator": true,
    "moduleName": "@babel/runtime"
  }],
  ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx", ".gql"],
      "root": ["./src"],
      "alias": {
        "@components": "./src/components",
        "@containers": "./src/containers",
        "@utils": "./src/utils",
        "@hoc": "./src/hoc",
        "@common": "./src/common",
        "@graphql": "./src/graphql"
      }
    }]]
}
