{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/stage-1",
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "styled-components",
    ["@babel/plugin-transform-runtime", {
    "helpers": false,
    "polyfill": false,
    "regenerator": true,
    "moduleName": "@babel/runtime"
  }]]
}
