{
  "presets": [
    ["@babel/env", { "modules": false }],
    [
      "@babel/stage-1",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "styled-components",
    "graphql-tag",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "@babel/runtime"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        "@babel/typescript",
        ["@babel/env", { "modules": "commonjs" }]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
