# set url for the scoped package
@likbes_:registry=https://gitlab.com/api/v4/projects/37796777/packages/npm/
# Add auth token for the Gitlab scoped package
# //gitlab.com/api/v4/projects/<<<your project id>>>/packages/npm/:_authToken=<<<access token>>>
//gitlab.com/api/v4/projects/37796777/packages/npm/:_authToken=54a_AUPwC6EB8yjJaUMs