# set url for the scoped package
@aldrin_exchange:registry=https://gitlab.com/api/v4/projects/38257658/packages/npm/

# Add auth token for the Gitlab scoped package
# //gitlab.com/api/v4/projects/<<<your project id>>>/packages/npm/:_authToken=<<<access token>>>
//gitlab.com/api/v4/projects/38257658/packages/npm/:_authToken=z-ykXMkHjGLV4azKzfH4
