@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local('DM Sans Regular'), local('DMSans-Regular'),
  url('/fonts/DMSans.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: local('Avenir Next Thin'), local('AvenirNextCyr-Thin'),
  url('/fonts/AvenirNextCyr-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: local('Avenir Next Light'), local('AvenirNextCyr-Light'),
  url('/fonts/AvenirNextCyr-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local('Avenir Next'), local('AvenirNextCyr-Regular'),
  url('/fonts/AvenirNextCyr-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local('Avenir Next Medium'), local('AvenirNextCyr-Medium'),
  url('/fonts/AvenirNextCyr-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local('Avenir Next Demi'), local('AvenirNextCyr-Demi'),
  url('/fonts/AvenirNextCyr-Demi.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local('Avenir Next Bold'), local('AvenirNextCyr-Bold'),
  url('/fonts/AvenirNextCyr-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next Medium';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local('Avenir Next Medium'), local('AvenirNextCyr-Medium'),
  url('/fonts/AvenirNextCyr-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next Light';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local('Avenir Next Light'), local('AvenirNextCyr-Light'),
  url('/fonts/AvenirNextCyr-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next Demi';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local('Avenir Next Demi'), local('AvenirNextCyr-Demi'),
  url('/fonts/AvenirNextCyr-Demi.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next Thin';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: local('Avenir Next Thin'), local('AvenirNextCyr-Thin'),
  url('/fonts/AvenirNextCyr-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next Bold';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local('Avenir Next Bold'), local('AvenirNextCyr-Bold'),
  url('/fonts/AvenirNextCyr-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: local('Prompt Black'), local('Prompt-Black'),
    url('/fonts/Prompt-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: local('Prompt Extra Bold'), local('Prompt-ExtraBold'),
    url('/fonts/Prompt-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: local('Prompt Bold'), local('Prompt-Bold'),
    url('/fonts/Prompt-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: local('Prompt Semi Bold'), local('Prompt-SemiBold'),
    url('/public/fonts/Prompt-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: local('Prompt Medium'), local('Prompt-Medium'),
    url('/fonts/Prompt-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local('Prompt Regular'), local('Prompt-Regular'),
    url('/fonts/Prompt-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: local('Prompt Light'), local('Prompt-Light'),
    url('/fonts/Prompt-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: local('Prompt Extra Light'), local('Prompt-ExtraLight'),
    url('/fonts/Prompt-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: local('Prompt Thin'), local('Prompt-Thin'),
    url('/fonts/Prompt-Thin.ttf') format('ttf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  background: #101010;
  font-family: 'Prompt';
  font-weight: 400;
}

.main-loader {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 60px);
  width: 120px;
  height: 111px;
  animation: loader 4s linear 0s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
