.$ALL-7ScYHk4VDgSRnQngAUtQk4Eyf7fGat8P4wXq6e2dkzLj {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 65px;}

.$ASH-ASHTTPcMddo7RsYHEyTv3nutMWvK8S4wgFUy3seAohja {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 138px;}

.$CRECK-Ao94rg8D6oK2TAq3nm8YEQxfS73vZ2GWYw2AKaUihDEY {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 138px;}

.$EGG-3rkCq2ZAxoDGa3KWGebeiEMN92H5AV9HBLC9eVKDoPv8 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 138px;}

.$HONEY-HonyeYAaTPgKUgQpayL914P6VAqbQZPrbkGMETZvW4iN {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 138px;}

.$PACES-CdQseFmnPh2JBiz5747dJ6oYXK9NKnbdFRfiXTcZuaXT {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 0px;}

.$POT-BkbqZY7Bhg4TV1fjL9zBLs1xLUpjXj16mmPT6MAMfpQH {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 64px;}

.$SPWX-4ckMuvhiqeLAmVh9cCP8M8M3sNomv9MAzTZxAD4ZNARJ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 128px;}

.ABR-a11bdAAuV8iB2fu7X6AxAvDTo1QZ8FXB3kk5eecdasp {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 202px;}

.ACA-8BLiujyxu5gJajWBXoZQkwSsamdeHNKWQbu1ApAao8Ps {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 202px;}

.API-cPQm9UM1ekMeAgRcYGLfNcBC65SLA8o2BVTaBUA7kTg {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 202px;}

.ARB-9tzZzEHsKnwFL1A3DyFJwj36KnZj3gZ7g4srWp9YTEoh {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 202px;}

.ARTE-6Dujewcxn1qCd6rcj448SXQL9YYqTcqZCNQdCn3xJAKS {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 202px;}

.ASGARD-BQTN97PwrQGkbNepQxjvcYfRPYbPNgd5PqoioYwBt4qX {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 0px;}

.BABY-Uuc6hiKT9Y6ASoqs2phonGGw2LAtecfJu9yEohppzWH {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 64px;}

.BAIL-3e9pHUxa2nvAqso2Kr2KqJxYvZaz9qZLjoLaG77uQwB1 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 128px;}

.BAPE-BgeRyFWWGHeVouqfHfcXUxmvfkgekhrXYVqQWf63kpJB {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 192px;}

.BITXBIT-DK6PWMyuZ4NMjsm9AWNCTMKrajQYrtfMjMJ3QauX2UH5 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 46px;
        display: inline-block;
        background-position: 704px 338px;}

.BM-m6XGr58ATHSS7BvThRCDkqnsAeXLhpammhCrDo1amxq {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 266px;}

.BMA-boomh1LQnwDnHtKxWTFgxcbdRjPypRSjdwxkAEJkFSH {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 266px;}

.BMT-FanJWA4yEVUJj1r83tR7XybxmDGF6bNH8M81ag9aeUbF {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 266px;}

.BOOTY-7mT2XbK3iqQrhzDFoy87r61ewkrDWYLHrm94iMiTf8xJ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 266px;}

.BREA-ADPEoQKG1xbiwYro4ecUfLQgXkkTVqQousxSCDsRKh9H {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 266px;}

.BTC-9n4nbM75f5Ui33ZbPYXn59EwSgE8CGsHtAeTH5YFeJ9E {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 266px;}

.CHIPS-6vVD6QjoFjghKhXQtSc2yTSQaGTBxcUGnWfjnzbeeENK {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 0px;}

.CKC-8s9FCz99Wcr3dHpiauFRi6bLXzshXfcGTfgQE7UEopVx {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 64px;}

.COBAN-7udMmYXh6cuWVY6qQVCd9b429wDVn2J71r5BdxHkQADY {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 128px;}

.CRH-4ZMwr188nAyRiJYsHLL5TBswXTU7aAmVio6SMP1mcdsJ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 70px;
        display: inline-block;
        background-position: 64px 0px;}

.CRM-3pVGSD3L4n35kcC6m6Z8rmG5j4q7Uq8NvEVPmc9CwrxZ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 192px;}

.CYRUS-4RBJRwEAnNEe664LgSECkkfeT4fc6ZjtCMgL7rtUs8g1 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 256px;}

.DATE-Ce3PSQfkxT5ua4r2JqCoWYrMwKWC5hEzwsrT9Hb7mAz9 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 330px;}

.DAU-EoqJXTxCc67i18B7nwWs59RBkTe8rStTreRhCCq1eVTH {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 330px;}

.DISK-4bwMPPipiPafcxxtSBPMUgCkv8hF4xAyWsUzxr3DLYPZ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 330px;}

.DKCOIN-AwoT6gj8cpadFabDfNKsUrrsvQTX1iAtkNiPUw2mmhsV {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 330px;}

.DLN-8fd5eUPMNHuyKRshFbfmKRAm2gowJ75m8WjT7tLio6J3 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 330px;}

.DOOB-BYbfgn491deiSTApQnXmV4DpkiDHUXJYYoc11U6fB1By {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 71px;
        display: inline-block;
        background-position: 0px 0px;}

.DXL-GsNzxJfFn6zQdJGeYsupJWzUAm57Ba7335mfhWvFiE9Z {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 330px;}

.EDO-7sWMHQaJJPn1rkeizq41iPiW5gG7Ry7PXYAVHaUwY4qu {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 330px;}

.ERRA-DfB1NY8Ftv3rDTnyffSVj5sr3ycFjLoUeNBEkTDvPQYn {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 0px;}

.FRKT-ErGB9xa24Szxbk1M28u2Tx8rKPqzL6BroNkkzk5rG4zj {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 64px;}

.FROG-Amt5wUJREJQC5pX7Z48YSK812xmu4j3sQVupNhtsEuY8 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 128px;}

.FRTN-frtnaScfGPuo56uyPGmij1QTc64SBdjnXC3RXmcVmxw {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 192px;}

.FUM-EZF2sPJRe26e8iyXaCrmEefrGVBkqqNGv9UPGG9EnTQz {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 256px;}

.GLXY-5BY9wMqpvmTJrzUHt9BAmaQwave833DyHZh33rCXFEQ2 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 320px;}

.GLXY-CJ5U6wPmjxFUyTJpUTS7Rt1UqhTmSVRMvmJ8WD4nndXW {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 394px;}

.GMORNN-DiWunPY8GfsFthdDAwiRRtCgKCB5AEcFx9edDpxZoTyo {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 394px;}

.GUANO-H69DNtbZZtk92hLLbMrHYqL8HiSHFVGcf6USHU39oRMW {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 394px;}

.HIMA-72hgmvS5zFxaFJfMizq6Gp4gjBqXjTPyX9GDP38krorQ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 394px;}

.HIPPO-3EkHyexJLGCvSxzn5umbtd9N69GoT4p5pfdLTFqCNP9Y {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 394px;}

.HONSHU-4vXidyArpT8fyQTmfXfMNHitj5ay1Fjcnbw9fJLL2zBa {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 394px;}

.JOINTS-7ftKSttU6yUAnWsWxpRP3LKdQNEto8V4KD9NuWttoVnV {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 394px;}

.JUNGLE-Aogv6j1wWiBAZcqRNN1Y89eozda2ke6rkc4CYy7c4iCi {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 394px;}

.KAI-4tUUpzPsSCzSasdRueA3J2phAvLD9cqRbzFCCNQAJpt4 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 0px;}

.KITTY-6XWfkyg5mzGtKNftSDgYjyoPyUsLRf2rafj95XSFSFrr {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 64px;}

.KROBA-5S2uwGaiCYX4tXq9wfSH44SbXTQUF2n2sanJJ2o1djXr {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 128px;}

.LARIX-Lrxqnh6ZHKbGy3dcrCED43nsoLkM1LTzU2jRfWe8qUC {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 192px;}

.LDO-HZRCwxP2Vq9PCpPXooayhJ2bxTpo5xfpQrwB1svh332p {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 256px;}

.LRA-FMJotGUW16AzexRD3vXJQ94AL71cwrhtFaCTGtK1QHXm {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 48px;
        display: inline-block;
        background-position: 704px 290px;}

.MBC-AShCRr7fqsMf7ieM5AkJqNY566HsYmtvpvK8oPUL4Bh8 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 320px;}

.MCAKE-mCaKentpBgRwisk5zUtx6dfRYkCqMyTKDjjqSDp97mk {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 384px;}

.MEAN-MEANeD3XDdUmNMsRGjASkSWdC8prLYsoRJ61pPeHctD {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 458px;}

.MHC-52Y1RGnRFvRFUQq5r2AWpFLLFvokiiqxRocsWVpmPTU4 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 458px;}

.MHCNWS-AzZMJEE1u5cM2fVtPFp5K4jyL5988i72WiwQhLCXQTr2 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 458px;}

.MNDE-MNDEFzGvMt87ueuHvVU9VcTqsAP5b3fTGPsHuuPA5ey {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 458px;}

.MNGO-MangoCzJ36AjZyKwVj3VnYU4GTonjfVEnJmvvWaxLac {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 458px;}

.MTP-ChTE6TCqoY16dvqPjgK6Ji7zHcKricB2DHLoqWzx5v9A {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 458px;}

.NEAR-BYPsjxa3YuZESQz1dKuBw1QSFCSpecsm8nCQhY5xbU1Z {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 458px;}

.NEO-NEo3D6MXRXf2iAfaqvZYqSmFkfutLvNjm86xmfGWNh5 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 458px;}

.NOCH-EcFyPDjqpnyMvh1LhACtC6rrCZ41DMez7RZYocjhmUVS {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 458px;}

.NOM-7zhbkbKpGaUsJW7AD4yyAfGGoy53Xx2H3Ai5BKcwGKHw {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 57px;
        display: inline-block;
        background-position: 704px 181px;}

.NOVAX-NovNrxPNjmLVFscH5rjMbec7C4BdAHms9WK21xjsP3p {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 0px;}

.OOGI-H7Qc9APCWWGDVxGD5fJHmLTmdEgT9GFatAKFNg6sHh8A {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 64px;}

.PANDA-Aw8qLRHGhMcKq7rxs5XBNCd9oe3BvoAhpNMVz7AdGmty {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 128px;}

.PENNY-2rLTJzSj6J6f4poPAKojS2sbdtRry7b8k4XoEMKPwner {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 192px;}

.PENNY-AtS8bVho4K3kcufDCiqtE4GoC3WhSpLAM4KsEou5oh1j {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 67px;
        display: inline-block;
        background-position: 0px 71px;}

.PHNX-PHNX6NaMPbSPNvhDWEvr18dAfjM4Qz2PBYvm5NvgcD9 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 67px;
        display: inline-block;
        background-position: 64px 71px;}

.PLD-2cJgFtnqjaoiu9fKVX3fny4Z4pRzuaqfJ3PBTMk2D9ur {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 256px;}

.POT-9iz45n44TQUPyoRymdZXEunqvZUksZyhzS6zQ7sLMadj {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 320px;}

.PREY-nYDqQVEaQxLYLh8B8oAFXziMT1bcGrAVigZPL1s3dKc {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 384px;}

.PU238-7p6zGHdmWHvCH4Lsik2MoMBXqPGhFbSPSceSBXd8KNEC {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 448px;}

.PUFF-G9tt98aYSznRk7jWsfuz9FnTdokxS6Brohdo9hSmjTRB {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 522px;}

.PURR-Cbi6U8C8mC1ENvskYBqyYzmy1Q5wB5bk9YzUcF6ZVomQ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 522px;}

.RAY-4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 522px;}

.RIN-E5ndSkaB17Dm7CsD22dvcjfrYSDLCxFcMd6z8ddCk5wp {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 522px;}

.RPC-EAefyXw6E8sny1cX3LTH6RSvtzH6E5EFy1XsE2AiH1f3 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 522px;}

.SAFE-E4DRAz5D9iMND9PJ7tq1HQbZPxavDWHxmeizUtk68o8S {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 62px;
        display: inline-block;
        background-position: 704px 0px;}

.SKULL-SKu11EypaFU3gvr8VSAbi13zEC2CPvqbz9s83N3tWHM {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 522px;}

.SLIM-xxxxa1sKNGwFtw2kFn8XauW9xq8hBZ5kVtcSesTT9fW {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 522px;}

.SLX-AASdD9rAefJ4PP7iM89MYUsQEyCQwvBofhceZUGDh5HZ {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 60px;
        display: inline-block;
        background-position: 704px 62px;}

.SMCK-823dnFBD7dUCbBr9tvD6oT3JHo286dx93opVLgqKT21u {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 65px;
        display: inline-block;
        background-position: 128px 71px;}

.SOL-So11111111111111111111111111111111111111112 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 522px;}

.SOLA-FYfQ9uaRaYvRiaEGUmct45F9WKam3BYXArTrotnTNFXF {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 522px;}

.SOLP-45eBLJUCQf1acXdBG8daBfUudy8T7V5gDTBpiE1iezsN {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 522px;}

.SOULO-Gz3u6eJaKEviYpPC5AwUziz891kNX76PNdsmJrnaNNY4 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 0px;}

.STEP-StepAscQoEioFxxWGnh2sLBDFp9d8rvKz2Yp39iDpyT {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 65px;
        display: inline-block;
        background-position: 192px 0px;}

.THC-THCBB791xLFhRhxPHMDVN9m5KDeBBjwh6dfBbnTuPe9 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 64px;}

.TICKET-AymKzSDznoLT7Vhsb4wSRnCj1gjcG3zkgYFY8fxsHHer {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 128px;}

.TKMK-TKMKgSh3aADsmjr4yFWG52tkCQvmDxsQC1he1aBsi65 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 192px;}

.TRB-3yeGqnYLXya7zPbTkEt2d84F489eV9mNia4WQHY3JefA {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 256px;}

.TRPY-Fse2oFDfbwT89CqtuoFaHCBnGTMFLartDYDjPLZyc7e {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 52px;
        display: inline-block;
        background-position: 704px 238px;}

.TRTLS-q4bpaRKw3fJB1AJBeeBaKv3TjYzWsmntLgnSB275YUb {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 320px;}

.TTST-6wcWAqCEmxQkEK6hPEsyvTpiaFFCENww6gxqMTq8YBHE {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 59px;
        display: inline-block;
        background-position: 704px 122px;}

.USDC-EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 384px;}

.USDT-Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 448px;}

.UST-9vMJfxuKxXBoEa7rM12mYLMwTacLMLDJqHozw96WQL8i {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 512px;}

.VIKN-EqxvSkL78VCnzJbfetznFytJdSfaXqZ29wSGKhYuAfQL {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 0px 586px;}

.WAGMI-3m7A2A8HHdqmiDrjAfaddj7Hxd88FrBHA1KSoqjoELtu {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 64px 586px;}

.WPUFF-14Zi6xaKrFpEdxQKyU1SnSE8dfa97Gfj1jrtuWCxWnZL {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 128px 586px;}

.YAKU-NGK3iHqqQkyRZUj4uhJDQqEyKKcZ7mdawWpqwMffM3s {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 192px 586px;}

.Zion-A7rqejP8LKN8syXMr4tvcKjs2iJ4WtZjXNs1e6qP3m9g {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 69px;
        display: inline-block;
        background-position: 128px 0px;}

.creatorpro-GV3MjuGin8aTG6Rhc1vR1QFYp8gq5vW39jnNPLrbzmPi {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 44px;
        display: inline-block;
        background-position: 704px 384px;}

.mSOL-mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 256px 586px;}

.oDOP-4pk3pf9nJDN1im1kNwWJN1ThjE8pCYCTexXYGyFjqKVf {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 320px 586px;}

.pHONEY-PHnyhLEnsD9SiP9tk9kHHKiCxCTPFnymzPspDqAicMe {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 384px 586px;}

.sUSD-21jZ1ESEFYh9SBwjT5gqE3jHv3JnaGhgvypLTR96QXW9 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 448px 586px;}

.soETH-2FPyTwcZLUg1MDrwsyoP4D6s1tM7hAkHYRjkNb5w6Pxk {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 512px 586px;}

.stSOL-7dHbWXmci3dT8UFYWYZweBLXgycu7Y3iL6trKn1Y7ARj {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 576px 586px;}

.wSOL-So11111111111111111111111111111111111111112 {
        background: url("./token-icons.webp") no-repeat;
        width: 64px;
        height: 64px;
        display: inline-block;
        background-position: 640px 586px;}